@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:wght@400;700&display=swap');

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Asegúrate de que no esté centrado de manera rígida */
  align-items: center;
  height: auto; /* Eliminar el 100vh para evitar restricciones */
  background-color: #F5F5F5;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-alt);
  background-color: #f4f4f4;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-main);
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  transform: translateY(-2px);
}

input, textarea {
  font-family: var(--font-family-alt);
  padding: 10px;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


/* Responsividad para dispositivos móviles */
@media (max-width: 768px) {
  .buttons-container {
    flex-direction: column;
    align-items: center;
  }

  .button-item {
    width: 80%;
    margin-bottom: 15px;
  }

  .navbar-logo img {
    width: 30px;
    height: 30px;
  }

  .navbar-week {
    font-size: 14px;
  }

  .button-text {
    font-size: 14px;
  }
}

/* Breakpoints */
@media (max-width: 1024px) {
  .container {
    padding: 15px;
  }

  button {
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 90%;
  }

  .container {
    padding: 10px;
  }

  button {
    padding: 6px 12px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 85%;
  }

  .container {
    padding: 5px;
  }

  button {
    padding: 4px 8px;
  }
}
