.admin-history-view {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.table-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.weeks-table,
.details-table {
  width: 48%;
}

.vertical-separator {
  width: 4px;
  background-color: red;
  margin: 0 10px;
}

.selected-row {
  background-color: #f0f0f0;
  cursor: pointer;
}
