.players-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;  /* Asegura que todo el contenido no esté centrado */
  background-color: #F5F5F5;
  font-family: 'Krona One', sans-serif;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

.game-header {
  text-align: center;
  margin-bottom: 20px;
}

.game-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.number-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  grid-template-rows: repeat(4, 1fr); /* 4 filas */
  gap: 10px;
  width: 100%;  /* Se ajusta al 100% de ancho disponible */
  max-width: 500px;  /* Limita el tamaño máximo */
  margin-top: 20px;
}

.number-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  font-size: 20px;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.number-box.selected {
  background-color: #4CAF50;
  color: white;
}

.number-box:hover {
  transform: scale(1.05);
}

.game-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}

button {
  padding: 15px;
  background-color: #4CAF50;
  color: white;
  border: 2px solid #333;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  font-family: 'Krona One', sans-serif;
  text-shadow: 2px 2px 3px black;
}

button:hover {
  background-color: #333;
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.saved-boards {
  margin-top: 20px;
  width: 100%;
}

.saved-boards ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 16px;
  color: #333;
}
